
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></p>
<p><a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a></p>
