@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <a asp-controller="Groups" asp-action="Index">Groups</a>
        <a asp-controller="Faculties" asp-action="Index">Faculties</a>
        <a asp-controller="Sessions" asp-action="Index">Schedule</a>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
